# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Firebase
.firebase
*-debug.log
.runtimeconfig.json

# Firebase and Google Cloud
# ---------------------------

# Ignora la instalación local de Google Cloud SDK
google-cloud-sdk/

# Ignora la carpeta generada por Data Connect
dataconnect-generated/

# Ignora logs de emuladores y debug de Firebase
*.log
firebase-debug.log
firestore-debug.log
ui-debug.log
pubsub-debug.log

# Ignora los datos de los emuladores
.firebase/emulators/

# NOTA: Las carpetas 'functions/lib' y 'functions/node_modules'
# se ignoran en el archivo .gitignore dentro de la propia carpeta 'functions'.