@if (schema(); as sch) {
  @for (child of sch.layout.children; track child) {
    @switch (child.component) {
      @case ('primeng-card') {
        <app-generic-card [config]="child.config"></app-generic-card>
      }
      @case ('data-table') {
        <app-generic-table [config]="child.config" [dataSource]="child.dataSource"></app-generic-table>
      }
       @case ('button') {
        <app-generic-button [config]="child.config" [action]="child.action"></app-generic-button>
      }
      @case ('generic-form') {
        <app-generic-form [children]="child.children ?? []" [action]="child.action"></app-generic-form>
      }
      @default {
        <p>Componente '{{ child.component }}' no reconocido.</p>
      }
    }
  }
}