@if (schema(); as sch) { @for (child of sch.layout.children; track child) {
<ng-container [ngSwitch]="child.component">
  <app-generic-card *ngSwitchCase="'primeng-card'" [config]="child.config"> </app-generic-card>

  <app-generic-table
    *ngSwitchCase="'data-table'"
    [config]="child.config"
    [dataSource]="child.dataSource"
  >
  </app-generic-table>

  <app-generic-button *ngSwitchCase="'button'" [config]="child.config" [action]="child.action">
  </app-generic-button>

  <app-generic-input
    *ngSwitchCase="'text-input'"
    [config]="child.config"
    [control]="getControl(child.config.name)"
  >
  </app-generic-input>

  <p *ngSwitchDefault>...</p>
</ng-container>
} }
