p-toolbar {
  height: 5rem;

  & > .p-toolbar-group-start,
  & > .p-toolbar-group-end {
    align-items: center;
    gap: 0.5rem;
    display: flex;
  }

  .title {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--text-color);
  }

  .logo {
    height: 3rem;
  }

  .separator {
    width: 1px;
    height: 24px;
    background-color: var(--surface-border);
    margin: 0 0.5rem;
  }

  .username {
    font-weight: 500;
    color: var(--text-color-secondary);
  }
}
