<p-toolbar styleClass="main-toolbar">
  <div class="p-toolbar-group-start">
    <img src="mouthful.png" alt="App logo" class="logo" />
    <span class="title">Mouthful</span>
  </div>

  <div class="p-toolbar-group-center">
    <p-iconfield iconPosition="left">
      <p-inputicon class="pi pi-search" />
      <input type="text" pInputText placeholder="Buscar en la plataforma..." class="search-input" />
    </p-iconfield>
  </div>

  <div class="p-toolbar-group-end">
    <p-button label="Add recipe" icon="pi pi-plus" size="large" (onClick)="navigateToAddRecipe()" />

    <p-menu #menu [model]="userMenuItems" [popup]="true" />
    <p-button (click)="menu.toggle($event)" [text]="true" severity="secondary">
      <span class="username">Builder</span>
      <p-avatar
        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
        shape="circle"
      />
    </p-button>
  </div>
</p-toolbar>
